@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700&display=swap);

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'DM Sans';
  display: grid;
  place-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}

.grid-item {
  border: none;
}
.item__h1__strong{
  color: var(--color-purple-500, rgba(117, 81, 220, 1));
  font-style: italic;
  font-weight: 500;
  font-size: 40px;
}
.item-1 {
  grid-column: 1 / 4;
  grid-row: 1 / 6;
  width: 256px;
  height: 415px;
  background: var(--color-yellow-100, rgba(249, 238, 226, 1));
  border-radius: 10px;
}
.item__h1{
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
    line-height: 36px;
    color: var(--color-black, rgba(18, 18, 18, 1));
    margin-left: 32px;
    margin-top: 72px;
}
.item1__img{
  margin-left: 31px;
  margin-top: 12px;
}
.item-2 {
  grid-column: 1 / 4;
  grid-row: 6 / 13;
  height: 434px;
  background: var(--color-yellow-500, rgba(255, 204, 106, 1));
  border-radius: 10px;
}
.itme-2__h1{
  color: var(--color-black, rgba(18, 18, 18, 1));
  font-weight: 500;
  font-size: 40px;
  line-height: 36px;
  margin-left: 32px;
}
.item2__img{
  margin-left: 24px;
  margin-top: 20px;
}
.item-3 {
  grid-column: 4 /10;
  grid-row: 1 / 5;
  background: var(--color-purple-500, rgba(117, 81, 220, 1));
  border-radius: 10px;
}
.item3__h1{
  font-size: 62px;
  font-style: italic;
  font-weight: 500;
  line-height: 58px;
  text-align: center;
  color: var(--color-white, rgba(255, 255, 255, 1));
}
.item3__strong{
  color: var(--color-yellow-500, rgba(255, 204, 106, 1));
  font-style: italic;
}
.item3__img{
  margin-left: 172px;
}
.item3__p{
  margin-left: 161px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: var(--color-white, rgba(255, 255, 255, 1));
}
.item-4 {
  grid-column: 10 / 13;
  grid-row: 1 / 9;
  background: var(--color-purple-100, rgba(219, 209, 252, 1));
  border-radius: 10px;
}
.item4__h1{
  color: var(--color-black, rgba(18, 18, 18, 1));
  margin-left: 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 28px;
  margin-top: 50px;
}
.item4__img{
  margin-left: 56px;
}
.item4__p{
  color: var(--color-black, rgba(18, 18, 18, 1));
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin-left: 32px;
}
.item-5 {
  grid-column: 4 / 7;
  grid-row: 5 / 9;
}
.item5__img{
  margin-top: 24px;
  margin-left: 24px;
}
.item5__h1{
  margin-left: 50px;
  font-size: 32px;
  font-weight: 500;
  line-height: 28px;
  margin-top: 20px;
}
.item-6 {
  grid-column: 7 / 10;
  grid-row: 5 / 9;
  background: var(--color-yellow-500, rgba(255, 204, 106, 1));
  border-radius: 10px;
  background-image: url(/pages/illustrations\ \(4\).svg);
  background-repeat: no-repeat;
  background-position: bottom center;
}
.item6__h1{
  font-size: 32px;
  font-weight: 500;
  line-height: 28px;
  color: var(--color-black, rgba(18, 18, 18, 1));
  margin-left: 24px;
}
.item-7 {
  grid-column: 4 / 7;
  grid-row: 9 / 13;
}
.item7__h1{
  margin-left: 24px;
  margin-top: 24px;
}
.item7__p{
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: var(--color-black, rgba(18, 18, 18, 1));
  margin-top: 15px;
  margin-left: 24px;
}
.item7__img{
  width: 178px;
  height: 66px;
  margin-left: 24px;
}
.item-8 {
  grid-column: 7 / 13;
  grid-row: 9 / 13;
  background: var(--color-purple-500, rgba(117, 81, 220, 1));
  border-radius: 10px;
}
.div1__img{
  margin-left: 24px;
  margin-top: 22px;
}
.div2__h1{
  font-size: 40px;
  font-weight: 500;
  line-height: 36px;
 color: var(--color-white, rgba(255, 255, 255, 1));
}
.item8__div{
  display: flex;
  align-items: center;
  gap: 12px;
}